:root{
    --primary-background-color: #000000;
    --secondary-background--color: #ffffff;
    
    /*Hover*/
    --hover-color: #f59f0a;

    /*Color*/
    --primary-color: #f5f3f0;

    /*Descrition*/
    --background-color-description: #0B0B0D;

    /*Fontes*/
    --title-nav: "Arimo", sans-serif;
}

/*Import das Fontes*/
@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&display=swap');











/* CSS RESET */
body,
img,
h1,
p,
fieldset,
legend,
label,
input,
select,
textarea,
button {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
