:root{
    --primary-background-color: #000000;
    --secondary-background--color: #ffffff;
    
    /*Hover*/
    --hover-color: #F28705;

    /*Descrition*/
    --background-color-description: #0B0B0D;

}













/* CSS RESET */
body,
img,
h1,
p,
fieldset,
legend,
label,
input,
select,
textarea,
button {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
