.navegation{
    background-color: var(--primary-background-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
    height: 80px;
}

img{
    width: 100px;
    height: 110px;
}

.navegation .nav{
    display: flex;
    gap: 32px;
}

.navegation .nav a{ 
    font-size: 18px;
    font-family: var(--title-nav);
    text-decoration: none;
    color: var(--primary-color);
    gap: 32px;
}

a:hover{
    color: var(--hover-color);
}

.button{ 
    font-family: var(--title-nav);
    text-decoration: none;
    color: var(--primary-color);
    border: 1px solid white;
    padding: 10px 20px;
    border-radius: 8px;
}